.ipynb_checkpoints
__pycache__
.benchmarks
.pytest_cache
outputs
_build
requirements_2.txt
Chapter4/Twitter.zip
Chapter4/SWEETVIZ_REPORT.html
Chapter5/s2v_old
Chapter5/._s2v_old
build.sh
.mypy_cache
.hypothesis
wandb
venv
.DS_Store
data
*_scripts/*
*.csv
*.db
generate_url.py