jupyter-book
matplotlib
numpy
pandas
joblib
nb-black
sklearn
textblob
array-to-latex
snoop
pytest
pytest-benchmark
pytest-repeat
sumy
hydra-core
python-dotenv
pycausalimpact==0.0.16
snscrape
typer
interrogate
python-box[all]
watermark